.BRONZE {
  color: #A75B10;
}
.SILVER {
  color: silver;
}
.GOLD {
  color: gold;
}
.PLATINUM {
  color: rgb(99,180,174);
}
.DIAMOND {
  color: rgb(213,237,241);
}
.MASTER {
  color: rgb(187,202,97);
}
.CHALLENGER {
  color: orange;
}
