body {
  background: url('../img/wallp.jpg');
  -webkit-background-size:cover;
  background-size: cover;
}
.srch-light {
  background-color: #64a7a0;
  font-weight: bold;
}

.marged {
  margin: 10px 0 10px 0;
}
.container-summ {
  background-color: #3f5a54;
  opacity: 0.5;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

@mixin create-image($width, $height, $border-width){
  width: $width+px;
  object-fit: cover;
  border: $border-width+px solid #64a7a0;
}

.img-summoner {
  @include create-image(200, 200, 2);
}

@media (min-width: 967px) and (max-width: 1280px) {
  .img-summoner{
    @include create-image(175,175, 2);
  }
}

@media (min-width: 640px) and (max-width: 966px) {
  .img-summoner{
    @include create-image(125,125, 2);
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .img-summoner{
    @include create-image(100,100, 1);
  }
}

@media (max-width: 479px) {
  .img-summoner{
    @include create-image(70,70, 1);
  }
}

.team-100 {
  padding: 50px 0 50px 0;
}

.team-200 {
  padding: 50px 0 50px 0;
}

.versus {
  font-size: 36px;
  font-weight: bold;
  color: #64a7a0;
}




