//variables
$seacolor: #1E96C7;
$seacolor-dark: darken($seacolor, 20%);
$seacolor-light: lighten($seacolor, 20%);

//mixins
@mixin create-image($width){
  width: $width+px;
  object-fit: cover;
  border-color: $seacolor-dark;
  border-style: solid;
  @if $width > 100 {
    border-width: 2px;
  } @else {
    border-width: 1px;
  }
  border-radius: 8px;
}

@mixin create-summoner-name($width){
  position: absolute;
  top:0;
  color: white;
  width: $width+px;
  text-align: center;
  font-size: $width/12+px;
  background-color: $seacolor-dark;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

@mixin create-grade($width){
  $fsize: $width / 2;
  position: absolute;
  top: ($width*1.8/2 - $fsize/2 - $width/12)+px;
  color: $seacolor-light;
  width: $width+px;
  text-align: center;
  font-size: $fsize+px;
  font-weight: bold;
  z-index: 5;
}

@mixin create-icon-grade($width){
  $fsize: $width / 2;
  position: absolute;
  top: ($width/2 - $fsize/2)+px;
  color: $seacolor-light;
  width: $width+px;
  text-align: center;
  font-size: $fsize+px;
  font-weight: bold;
  z-index: 5;
}

@mixin combine-image-name-grade($width){
  .img-summoner{
    @include create-image($width);
  }
  .nickname {
    @include create-summoner-name($width);
  }
  .grade {
    @include create-grade($width);
  }
}

@mixin combine-icon-grade($width){
  .icon-summoner{
    @include create-image($width);
  }
  .icon-grade {
    @include create-icon-grade($width);
  }
}

//style
body {
  background-image: none;
  background-color: black;
}

.srch-light {
  background-color: $seacolor;
  border-color: $seacolor-dark;
}

.srch-light:hover {
  background-color: $seacolor-dark;
  border-color: $seacolor-dark;
}

.marged {
  margin: 10px 0 10px 0;
}
.container-summ {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  vertical-align: middle;
  margin: 0;
  font-size: 32px;

}


@include combine-image-name-grade(200);
@include combine-icon-grade(150);

@media (min-width: 1280px) and (max-width: 1600px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 967px) and (max-width: 1280px) {
  h1 {
    font-size: 21px;
  }
  @include combine-image-name-grade(175);
  @include combine-icon-grade(120);
}

@media (max-width: 991px) {
  h1 {
    margin-bottom: 10px;
  }
  .input-nickname  {
    width:100%;
  }

  .select-server {
    width: 100%;
    display: block;
  }
  body {
    background: none;
    background-color: black;
  }
  .resp-width {
    width:100%;
  }
}

@media (min-width: 640px) and (max-width: 966px) {
  @include combine-icon-grade(130);
  @include combine-image-name-grade(125);
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  @include combine-icon-grade(85);
  @include combine-image-name-grade(100);
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  @include combine-icon-grade(55);
  @include combine-image-name-grade(75);
  h1 {
    font-size: 20px;
  }
}

.team-100 {
  padding: 50px 0 50px 0;
}

.team-200 {
  padding: 50px 0 50px 0;
}

.versus {
  font-size: 36px;
  font-weight: bold;
  color: $seacolor-light;
}

.article-text{
  color: $seacolor-light;
  font-size: 24px;
  text-align: center;
}

.gl-text{
  color: $seacolor-light;
  margin-top: 100px;
  font-size: 36px;
  text-align: center;
}

.header-sea {
  color: $seacolor;
}

.header-sea-dark {
  color: $seacolor-dark;
}

.header-row {
  background-color: black;
}

.logo {
  font-size: 36px;
}

.logo:hover, .logo:visited, .logo:link, .logo:active{
  text-decoration: none;
}

.big {
  font-size: 32px;
}

.flow-summoner:hover {
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 3px 3px rgba(30, 150, 199, 0.75), 0 0 15px 5px rgba(30, 150, 199, 0.75);
}

.header-img {
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}

.container-header {
  padding: 0;
  margin: auto;
  max-width:1905px;
}

.header-img {
  padding-top: 200px;
  padding-bottom: 50px;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.decorate {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.row {
  margin: 0;
}










