//bootstrap-select bugfixes
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}


//style
html {
  height: 100%;
}
body {
  height: 100%;
  background-image: none;
  background-color: white;
}

.srch-light {
  background-color: $seacolor;
  border-color: $seacolor;
}

.srch-light:hover {
  background-color: $seacolor-dark;
  border-color: $seacolor-dark;
}

.marged {
  margin: 10px 0 10px 0;
}
.container-summ {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  vertical-align: middle;
  margin: 0;
  font-size: 32px;

}

@include combine-image-name-grade(200);
@include combine-icon-grade(150);

.team-100 {
  padding: 50px 0 50px 0;
}

.team-200 {
  padding: 50px 0 50px 0;
}

.search-text{
  font-family: $main-font;
  color: $seacolor-light;
  font-size: 24px;
  text-align: center;
}
.versus {
  font-family: $main-font;
  font-size: 36px;
  font-weight: bold;
  color: $seacolor-dark;
}

.article-text{
  font-family: $main-font;
  color: black;
  font-size: 24px;
  text-align: center;
}

.normalized-text {
  font-weight: normal;
  letter-spacing: 2px;
  vertical-align: middle;
}

.header-sea {
  font-size: 48px;
  color: $seacolor;
}

.header-sea-dark {
  font-size: 48px;
  color: $seacolor-dark;
}

.logo {
  font-size: 36px;
}

.logo:hover, .logo:visited, .logo:link, .logo:active{
  text-decoration: none;
}

.big {
  font-size: 32px;
}

.flow-summoner:hover {
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 3px 3px rgba(30, 150, 199, 0.75), 0 0 15px 5px rgba(30, 150, 199, 0.75);
}

.header-img {
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
}

.container-header {
  padding: 0;
  margin: auto;
  max-width:1920px;
}

.header-img {
  padding-top: 200px;
  padding-bottom: 50px;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.decorate {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.row {
  margin: 0;
}

.logo-block {
  font-family: broken-glass;
  margin-top: 10px;
}

.footer {
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  max-width: 1905px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: $seacolor;
}

.text {
  font-weight: 300;
  font-family: $main-font;
}

.main-text{
  font-weight: 300;
  font-family: $main-font;
  font-size: 24px;
  vertical-align: middle;
}


.info-message {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: $seacolor;
}

.bg-result{
  background-color: $seacolor-superlight;
  border-radius: 5px;
}

.wrap {
  min-height: 100%;
}

.bordered {
  border: 1px solid $seacolor-dark; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}










