//mixins
@mixin create-image($width){
  width: $width+px;
  object-fit: cover;
  border-color: $seacolor-dark;
  border-style: solid;
  @if $width > 100 {
    border-width: 2px;
  } @else {
    border-width: 1px;
  }
  border-radius: 8px;
}

@mixin create-summoner-name($width){
  position: absolute;
  top:0;
  color: white;
  width: $width+px;
  text-align: center;
  font-size: $width/12+px;
  background-color: $seacolor-dark;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

@mixin create-grade($width){
  $fsize: $width / 2;
  position: absolute;
  top: ($width*1.8/2 - $fsize/2 - $width/12)+px;
  color: $seacolor-light;
  width: $width+px;
  text-align: center;
  font-size: $fsize+px;
  font-weight: bold;
  text-shadow: $width/40+px $width/40+px $seacolor-dark;
  z-index: 5;
}

@mixin create-icon-grade($width){
  $fsize: $width / 2;
  position: absolute;
  top: ($width/2 - $fsize/2)+px;
  color: $seacolor-light;
  width: $width+px;
  text-align: center;
  font-size: $fsize+px;
  font-weight: bold;
  text-shadow: $width/40+px $width/40+px $seacolor-dark;
  z-index: 5;
}

@mixin create-pts($width, $mobile: ""){
  text-align: center;
  $fsize: $width / 10;
  position: absolute;
  top: 1.55*$width+px;
  left: (0.12*$width + 15)+px;
  font-size: $fsize+px;
  font-weight: bold;
  z-index: 5;
  @if $mobile !="" {
    left: (0.12*$width + $mobile)+px;
  }
}

@mixin create-division($width, $mobile: ""){
  text-align: center;
  $fsize: $width / 10;
  position: absolute;
  top: 1.55*$width+px;
  left: (0.8*$width + 15)+px;
  font-size: $fsize+px;
  font-weight: bold;
  z-index: 5;
  @if $mobile !="" {
    left: (0.8*$width + $mobile)+px;
  }
}

@mixin create-tier($width, $mobile: ""){
  position: absolute;
  top: 1.4*$width+px;
  left: ($width*0.3 + 15)+px;
  width: ($width*0.4)+px;
  z-index: 5;
  @if $mobile !="" {
    left: ($width*0.3 + $mobile)+px;
  }
}

@mixin create-shadowed($width, $mobile:""){
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 1.4*$width+px;
  height: (0.4*$width - 3)+px;
  left: 18px;
  width: ($width - 5)+px;
  z-index: 5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @if $mobile !="" {
    left: $mobile+1+px;
  }
}

@mixin create-spell1($width, $mobile:""){
  position: absolute;
  top: $width/7+px;
  width: $width/6+px;
  left: ($width/20 + 15)+px;
  @if $mobile !="" {
    left: ($width/20 + $mobile)+px;
  }
}

@mixin create-spell2($width, $mobile:""){
  position: absolute;
  top: ($width/7+$width/6+$width/28)+px;
  width: $width/6+px;
  left: ($width/20 + 15)+px;
  @if $mobile !="" {
    left: ($width/20 + $mobile)+px;
  }
}

@mixin create-mastery($width, $mobile:""){
  position: absolute;
  top: $width/7+px;
  width: $width/6+px;
  left: ($width - $width/6 - $width/20 + 15)+px;
  @if $mobile !="" {
    left: ($width - $width/6 - $width/20 + $mobile)+px;
  }
}

@mixin create-summoner-icon($width){
  width: $width/2+px;
  border-radius: $width/25+px;
}

@mixin create-team($width){
  padding: $width/4+px 0 $width/4+px 0;
}

@mixin create-requester-text($width){
  margin-bottom: 0;
  font-size: $width/5+px;
  color: $seacolor-dark;
}

@mixin create-requester-description($width){
  font-size: $width/8+px;
  color: $seacolor-dark;
}

@mixin combine-image-name-grade($width, $mobile:""){
  .img-summoner{
    @include create-image($width);
  }
  .nickname {
    @include create-summoner-name($width);
  }
  .grade {
    @include create-grade($width);
  }
  .pts {
    @include create-pts($width, $mobile);
  }
  .division {
    @include create-division($width, $mobile);
  }
  .rank{
    @include create-tier($width, $mobile);
  }
  .shadowed {
    @include create-shadowed($width, $mobile);
  }

  .img-spell1 {
    @include create-spell1($width, $mobile);
  }
  .img-spell2 {
    @include create-spell2($width, $mobile);
  }
  .img-mastery {
    @include create-mastery($width, $mobile);
  }
  .summoner-icon {
    @include create-summoner-icon($width);
  }
  .team {
    @include create-team($width);
  }
  .requester-text {
    @include create-requester-text($width);
  }
  .requester-description {
    @include create-requester-description($width);
  }

  @if $mobile !="" {
    .compressed {
      padding-left: $mobile+px;
      padding-right: $mobile+px;
    }
  }

}

@mixin combine-icon-grade($width, $mobile:""){
  .icon-summoner {
    @include create-image($width);
  }
  .icon-grade {
    @include create-icon-grade($width);
  }
  .icon-margin {
    margin-top: $width/5+px;
  }

  @if $mobile !="" {
    .compressed {
      padding-left: $mobile+px;
      padding-right: $mobile+px;
    }
  }
}

@mixin combine-image-name-grade-stable($width){
  .img-summoner-stable{
    @include create-image($width);
  }
  .nickname-stable {
    @include create-summoner-name($width);
  }
  .grade-stable {
    @include create-grade($width);
  }
  .pts-stable {
    @include create-pts($width);
  }
  .division-stable {
    @include create-division($width);
  }
  .rank-stable{
    @include create-tier($width);
  }
  .shadowed-stable {
    @include create-shadowed($width);
  }
}

@mixin combine-icon-grade-stable($width){
  .icon-summoner-stable {
    @include create-image($width);
  }
  .icon-grade-stable {
    @include create-icon-grade($width);
  }
}


